\documentclass[
  fromalign=right,
  fromrule=afteraddress,
  fromphone=true,
  fromemail=true,
  parskip=half,
  enlargefirstpage=on,
  firstfoot=false,
  pagenumber=no,
  foldmarks=off,
]{scrlttr2}

\usepackage{fontspec}
\usepackage[\VAR{ babel_lang | default('english') }]{babel}
\usepackage{hyperref}

\setkomavar{fromname}{\VAR{ sender_name | tex_escape }}
\setkomavar{fromaddress}{\VAR{ sender_address | tex_escape }}
\setkomavar{fromemail}{\VAR{ sender_email | tex_escape }}
\setkomavar{fromphone}{\VAR{ sender_phone | tex_escape }}

\setkomavar{subject}{\VAR{ subject | tex_escape }}

\begin{document}

\begin{letter}{
  \VAR{ recipient_name | tex_escape } \\
  \VAR{ recipient_company | tex_escape } \\
  \VAR{ recipient_address | tex_escape }
}

\opening{\VAR{ opening | tex_escape }}

\BLOCK{ if hook_text }
\VAR{ hook_text | tex_escape }

\BLOCK{ endif }
\BLOCK{ if edited_body }
\VAR{ edited_body | tex_escape }
\BLOCK{ elif selected_bullets }
\BLOCK{ for bullet in selected_bullets }
\VAR{ bullet.text | tex_escape }

\BLOCK{ endfor }
\BLOCK{ endif }
\BLOCK{ if closing_sentence }
\VAR{ closing_sentence | tex_escape }

\BLOCK{ endif }

\closing{\VAR{ closing | tex_escape }}

\end{letter}
\end{document}
